<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="10" android:versionName="0.11.0.0"
    package="com.asksven.betterlatitude" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>
    
<!--     Access Accounts -->
<!--     <uses-permission android:name="android.permission.GET_ACCOUNTS"/> -->
<!-- 	<uses-permission android:name="android.permission.USE_CREDENTIALS"/> -->
    
    <!-- read/write latitude -->
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- admob and ConnectivityManager-->
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  	
  	<!-- detect wifi state changes in case of buffering till wifi connected -->
  	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <!--  receive location updates -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    
    <!--  required for writing dump files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<!--  start service on boot -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name=".MainActivity" android:theme="@style/Theme.asksven">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name=".OAuthAccessActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="localhost" android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name=".PreferencesActivity"/>
        <activity android:name=".ShowOnMapActivity"/>
        <activity android:name=".BrowserActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".ReadmeActivity"/>
        <activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        
        <activity
            android:name="com.asksven.betterlatitude.localeplugin.ui.EditActivity"
            android:exported="true"
            android:icon="@drawable/icon"
            android:label="@string/plugin_name"
            android:theme="@style/Theme.Locale.Dark"
            android:uiOptions="splitActionBarWhenNarrow" >

            <!-- this Intent filter allows the plug-in to be discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        
        <!--
             This is the "fire" BroadcastReceiver. Note that Locale will reject plug-in BroadcastReceivers for the following reasons:
                - The BroadcastReceiver isn't exported (e.g. android:exported="false")
                - The BroadcastReceiver isn't enabled (e.g. android:enabled="false")
                - The BroadcastReceiver requires permissions not available to Locale
                - There are multiple BroadcastReceivers for com.twofortyfouram.locale.intent.action.FIRE_SETTING
        -->
        <receiver
            android:name="com.asksven.betterlatitude.localeplugin.receiver.FireReceiver"
            android:exported="true"
            android:process=":background" >

            <!-- this Intent filter allows the plug-in to discovered by Locale -->
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
        
        <service android:name=".LocationService"/>
        <service android:name=".localeplugin.receiver.UpdaterService">
	        <intent-filter>
	    	    <action android:name="com.asksven.betterlatitude.localeplugin.receiver.UpdaterService"></action>
	        </intent-filter>
	    </service>
	    <service android:name="com.asksven.betterlatitude.UpdateLocationService"/>
	    
        
        <receiver android:name=".BroadcastHandler">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.ConnectivityManager.CONNECTIVITY_ACTION" />
            </intent-filter>    
        </receiver>
        <receiver  android:process=":remote" android:name=".AlarmReceiver"/>
        <receiver  android:process=":remote" android:name=".QosAlarmReceiver"/>
        
    </application>
</manifest>
